%h1= title

%p
   This is a prototype of a system intended to let you create & modify 
   tables of information as easily as a spreadsheet program (e.g., Excel)
   but stores all that information in a central location instead of 
   on your hard drive.
<p>&nbsp;</p>

%table
   %tr
      %td
         %a.start_button.round{:href => url('/shts')} All Sheets
      %td
         %a.start_button.round{:href => url('/shts/new')} New Sheet
