
.gridcontainer#mygrid

%script{:src  => "/js/jquery-1.6.2.min.js"}
%script{:src  => "/js/jquery.event.drag-2.0.min.js"}
%script{:src  => "/grid/slick.core.js"}
%script{:src  => "/grid/slick.grid.js"}

:coffee
   sheet = #{sheet.to_json.gsub('"_id":', '"id":')}
   options = 
      enableCellNavigation: true,
      enableColumnReorder: false
   grid = new Slick.Grid("#mygrid", sheet["rows"], sheet["columns"], options)

- if webdebug?
   %br/
   %br/
   %hr/
   = debug(params)
   %br/
   = debug(sheet) 
   %br/
   = sheet.to_json
